

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
    scrollbar-color: #f4d17f;

    background-color: #FFF8E6;
} 


body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5vmin;
    background-color: #f4d17f;
    opacity: 0.5;
}

.iconNavItemDashboard{
    width: 25px;
    margin-right: 10px;
}


.headerDashboard{
    padding-bottom: 0 !important;
    height: 4rem !important;

}

.header{
    background-color: #FEF0D0 !important;
    padding: 0 !important;
    overflow-x: hidden;
}

.header-nav{
    height: 100%;
    display: flex;
    align-items: center;
}

.headerDrop{
    height: 100%;
    border-top: 1px solid #d8dbe0;

}
